* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 75%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    font-weight: 700 !important;
    font-size: 4rem !important;
    margin-bottom: 1rem;
    /* margin: 3rem auto !important; */
    /* border-bottom: 5px solid #00b588; */
}
/* .h2-wrapper {
    margin: 0 auto;
} */

h5 {
    font-weight: 700 !important;
    margin-top: 2rem !important;
    font-size: 2.2rem !important ;
}

.fas {
    font-size: 5rem;
}

/* Navbar */

.navbar {
    font-size: 2.3rem;
    padding: 2rem 4rem !important;
}

.nav-item {
    margin-right: 3rem;
    font-weight: 700;
}

.navbar-brand {
    /* background-color: black; */
    width: 20rem;
}

.nav-logo {
   width: 100%;
   float: right;
}



/* SECTION-HOME */

.section-home {
    text-align: center;
    padding: 10rem;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.text-box {
    position: relative;
    z-index: 999;
}

.home-heading {
    font-size:5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    animation: moveFromTop 3s ease-in-out;
    transition: all .3s;
}

.home-heading__1 {
    opacity: 95%;
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.home-heading__2 {
    color: #FFAB4C;
}

.home-para {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 80%;
    margin-top: 3rem;
    width: 40%;
    margin: 0 auto;
}

.hero-img {
    width: 70%;
    margin-top: -15rem;
}

section {
    padding: 8rem 0;
}

/* SECTION EVENTS */


/* things we do */
.section-wedo {
    margin: 0 auto;
    background-color: #dde9eb;
}

.wedo-heading {
    margin-bottom: 7rem;
}

.col-md-4 {
    text-align: center;
}

.card {
    font-size: 1.4rem;
    background-color: white !important;
    padding: 2.5rem;
    border-radius: 1rem !important;
    width: 80%;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2); */
    text-align: center;
    margin: 1rem auto;
    border: none !important;
    transition: all .3s;
    height: 35rem;
    
}

.icon-wedo {
    color: #94B3FD;
}

.card:hover {
    color: white;
    transform: translateY(-1rem);
    background-color: #94B3FD !important;
}

.card:hover .icon-wedo {
    color: white;
}

.card::before {
    content: "";
    width: 100%;
    height: 100%;
}

.card-title {
    opacity: 90%;
}

.card-text {
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 80%;
}

.nav-span:hover{
  border-bottom: 5px solid black;
  border-radius: 2px;
  
}
/*Section-events*/
.section-events {
    text-align: center;
    padding: 9rem;
}

.container-event {
    text-align: center;
}

.straight-line {
    border-left: 2px solid black;
    height: 50rem;
    text-decoration: none;
    display: fixed;
    margin: 0 55rem !important;
}
/*Students*/

.students {
    padding: 15rem;
    background: #000;
}

/*Counter*/

.counter {
    text-align: center;
    padding: 8rem;
    color: white;
    background-color: #376dcc;
    background-image: 
        radial-gradient(at 47% 33%, hsl(35.00, 35%, 72%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(215.34, 86%, 64%) 0, transparent 55%), url("../images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
    background-size: cover;
    background-position: top;
    }


.counter-box {
    background-color: black;
}

.counter-stack {
    font-size: 2rem;
    font-weight: 700;
}

/*Subscribe section*/

.subscribe_section {
    background-color: #5E4AE3;
    padding-top: 45px;
  }
  
  .subscribe_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .subscribe_section .img-box img {
    width: 100%;
  }
  
  .subscribe_section .detail-box {
    color: #ffffff;
  }
  
  .subscribe_section .detail-box h2 {
    font-weight: bold;
  }
  
  .subscribe_section .detail-box form {
    margin-top: 25px;
  }
  
  .subscribe_section .detail-box form input {
    width: 100%;
    background-color: white;
    padding-left: 15px;
    color: black;
    height: 45px;
    border: 1px solid #eee;
    border-radius: 35px;
    outline: none;
  }
  
  .subscribe_section .detail-box form input::-webkit-input-placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form input:-ms-input-placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form input::-ms-input-placeholder {
    color: #e2e2e2;
  }
  
  .subscribe_section .detail-box form input::placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form button {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 10px 65px;
    background-color: #150050;
    color: white;
    border-radius: 35px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .subscribe_section .detail-box form button:hover {
    background-color: #3F0071;
  }

  /*Footer Section*/
  footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    padding-top: 30px;
  }
  
  footer .social {
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
  }
  
  footer .social li {
    margin: 0px 10px;
    display: inline-block;
  }
  
  footer .social li a {
    color: #9d5bd9;
     text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .social li a:hover {
    background-color: #ff589e;
    color: #fff;
  }
  
  footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    footer .text {
      margin-bottom: 30px;
    }
    footer h5 {
      margin-bottom: 15px;
    }
    footer .footer-nav {
      margin-bottom: 30px;
    }
  }