* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 75%;
    }
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    font-weight: 700 !important;
    font-size: 4rem !important;
    margin-bottom: 5rem !important;
}
/* .h2-wrapper {
    margin: 0 auto;
} */

h5 {
    font-weight: 700 !important;
    margin-top: 2rem !important;
    font-size: 2.3rem !important ;
}

h6 {
    font-size: 1.5rem !important;
}

img {
    width: 100%;
}

.fas {
    font-size: 5rem;
}

.col-lg-3 {
    text-align: center;
}

/* Navbar */

.navbar {
    font-size: 2.3rem;
    padding: 2rem 4rem !important;
}

.nav-item {
    margin-right: 3rem;
    font-weight: 700;
}

.navbar-brand {
    /* background-color: black; */
    width: 20rem;
}

.nav-logo {
   width: 100%;
   float: right;
}



/* SECTION-HOME */

.section-home {
    text-align: center;
    padding: 10rem;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.text-box {
    position: relative;
    z-index: 999;
}

.home-heading {
    font-size:5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    animation: moveFromTop 3s ease-in-out;
    transition: all .3s;
}

.home-heading__1 {
    opacity: 95%;
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.home-heading__2 {
    color: #FFAB4C;
}

.home-para {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 80%;
    margin-top: 3rem;
    width: 40%;
    margin: 0 auto;
}

.hero-img {
    width: 70%;
    margin-top: -15rem;
}

section {
    padding: 8rem 0;
}

/* SECTION EVENTS */


/* things we do */
.section-wedo {
  /* background-color: #D7E9F7; */
  background-color: #F7F7F7;
    margin: 0 auto;
}

.wedo-heading {
    margin-bottom: 7rem;
}

.col-md-4 {
    text-align: center;
}

.card {
    font-size: 1.4rem;
    background-color: white !important;
    padding: 2.5rem;
    border-radius: 1rem !important;
    width: 80%;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2); */
    text-align: center;
    margin: 1rem auto;
    border: none !important;
    transition: all .3s;
    height: 35rem;
    
}

.icon-wedo {
    color: #94B3FD;
}

.card:hover {
    color: white;
    transform: translateY(-1rem);
    background-color: #94B3FD !important;
}

.card:hover .icon-wedo {
    color: white;
}

.card::before {
    content: "";
    width: 100%;
    height: 100%;
}

.card-title {
    opacity: 90%;
}

.card-text {
  font-size: 1.7rem !important;
  opacity: 50%;
  font-weight: 500;
}

.nav-span:hover{
  width: 8rem;
  height: 5rem;
  background-color: rgba(0,0,0,0.38);
}

/* section-team */

.section-team {
  background-color: #F7F7F7;
}

.team-img-box {
  text-align: center;
  margin-bottom: 4rem;
}

.team-img {
  width: 60%;
}


.team-card {
  width: 25rem;
  background-color: #fff;
  margin: 0 auto 5rem auto;
    padding: 2rem;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.082);
    border-radius: 20px;
}

.img-wrapper {
    width: 21rem;
    height: 21rem;
    background-color: #DADDFC;
    border-radius: 1rem;
    overflow: hidden;
}

.team-name {
  color: #3e64ff;
  font-weight: 700 !important;
}

.team-role {
  font-size: 1.6rem !important;
  opacity: 50%;
  font-weight: 600;
}

/*Section-events*/
.section-events {
  /* background-color: #F7F7F7; */
    text-align: center;
    padding: 6rem;
}

.event-image-box {
  margin-bottom: 6rem;
}

.event-img {
  width: 50% !important;
  margin: 0 auto
}

.event-box {
  display: flex;
  padding: 3rem;
  border-radius: 8px;
  border-bottom: 3px solid rgba(28,110,164,0.38);
}

.box-margin:not(:last-child) {
  margin-bottom: 4rem !important;
}

.box-1 {
  flex: 1;
}

.icon-box {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  background-color:#3e64ff;
}

.event-icon {
  color: white;
  margin-top: 2rem;

}

.box-2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.year {
  font-size: 2.7rem;
  font-weight: 700;
  color: #3e64ff;
}

.year-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.content {
  font-family: 'Open Sans',sans-serif;
  font-size: 1.9rem;
  
}
/*Time line--*/
.timeline-items{
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  }
  
  .timeline-item{
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  }
  .timeline-dot{
  height: 16px;
  width: 16px;
  background-color: darkcyan;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top:-1px;
  }
  .timeline-date{
  color: rgba(0,0,0,0.38);
  }
  .timeline-item:last-child{
  margin-bottom:0;
  }
  .timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
  }
  .timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
  text-align: left;
  }
  .timeline-item::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #376dcc;
  left: calc(50% - 1px);
  }
  .timeline-content{
  background-color: #94b3fda1;
  padding: 30px;
  border-radius: 8px;
  font-weight: 700;
  
  }
  .h3-timeline{
  font-size: 2.2rem;
  color:#2b2b2b;
  margin:0 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  }
  .timeline-content p{
    font-size: 1.6rem;
    color: black;
    opacity: 50%;
    font-weight: 500;
    line-height: 2.2rem ;
  }
  /*responsive--*/
  @media(max-width:767px){
    .timeline-item::before{
      left: .7rem;
    }
    .timeline-item:nth-child(odd){
      padding-right: 0;
      text-align: left;
    }
    .timeline-dot{
      left: 0;
    }.timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
      padding-left: 3.7rem;
    }
  }

/*Students*/

.students {
    padding: 10rem;
    position: relative;
}

.carousel-indicators li {
  background: #000 !important;
  border-radius: 50% !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.carousel-indicators .active {
  background: #999 !important;
}

.carousel-inner {

  border-radius: 15px;
}

.single-item {
  height: 40rem;
  background: linear-gradient(45deg, #372acf, #2dafff);
  display: block;
  text-align: center;
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0,0,0,0.15);
  overflow: hidden;
}

.carousel-box {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
  background-color: grey;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  object-fit: cover !important;
}

.carousel-caption {
  color: #fff !important;
}

.carousel-title {
  font-size: 4rem !important;
  font-weight: 600;
}

.carousel-para {
  font-size: 1.7rem !important;
  opacity: 50%;
  font-weight: 500;
}

/*Counter*/

.counter {
    text-align: center;
    padding: 8rem;
    color: white;
    
    background-color: #195cd4;
    background-image: url("../images/Frame_4.png") ;
    background-size: cover;
    background-position: top;
    }


.counter-box {
    background-color: black;
}

.counter-stack {
    font-size: 2rem;
    font-weight: 700;
}

.counter-number {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.counter-area {
  font-size: 3rem;
  font-weight: 700;
}

/*Subscribe section*/

.subscribe_section {
    background-color: #5E4AE3;
    padding-top: 45px;
  }
  
  .subscribe_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .subscribe_section .img-box img {
    width: 100%;
  }
  
  .subscribe_section .detail-box {
    color: #ffffff;
  }
  
  .subscribe_section .detail-box h2 {
    font-weight: bold;
  }
  
  .subscribe_section .detail-box form {
    margin-top: 25px;
  }
  
  .subscribe_section .detail-box form input {
    width: 100%;
    background-color: white;
    padding-left: 15px;
    color: black;
    height: 45px;
    border: 1px solid #eee;
    border-radius: 35px;
    outline: none;
  }
  
  .subscribe_section .detail-box form input::-webkit-input-placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form input:-ms-input-placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form input::-ms-input-placeholder {
    color: #e2e2e2;
  }
  
  .subscribe_section .detail-box form input::placeholder {
    color: black;
  }
  
  .subscribe_section .detail-box form button {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 10px 65px;
    background-color: #150050;
    color: white;
    border-radius: 35px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .subscribe_section .detail-box form button:hover {
    background-color: #3F0071;
  }

  /*Footer Section*/
  footer {
    background-image: linear-gradient(127deg, #258fd6 0%, #2b46e0 91%);
    padding-top: 30px;
  }
  
  footer .social {
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
  }
  
  footer .social li {
    margin: 0px 10px;
    display: inline-block;
  }
  
  footer .social li a {
    color: #ec780b;
     text-align: center;
    background-color: #fff;
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .social li a:hover {
    background-color: #ff589e;
    color: #fff;
  }
  
  footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
  }
  
  @media (max-width: 991px) {
    footer .text {
      margin-bottom: 30px;
    }
    footer h5 {
      margin-bottom: 15px;
    }
    footer .footer-nav {
      margin-bottom: 30px;
    }
  }